<div class="row">
    <mat-card class="col-md-4 col-sm-12 text-center">
        <span>¿Como desea buscar productos para la venta?</span>
        <br>
        <button mat-raised-button (click)="buscador = true"><mat-icon>search</mat-icon>Usar buscador</button>
        <button mat-raised-button (click)="buscador = !buscador"><mat-icon>keyboard</mat-icon> Por nombre ó codigo</button>
    
        <div *ngIf="buscador">
            <mat-form-field>
                <mat-select placeholder="Opciones" [(ngModel)]="seleccionada" name="operacion">
                  <mat-option *ngFor="let op of opcionesBusqueda" [value]="op.opcion">
                    {{op.opcion}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select *ngIf="seleccionada == 'Departamento'"  placeholder="Departamento" [(ngModel)]="seleccion" name="operacion">
                  <mat-option  *ngFor="let op of opcionesBusqueda[0].opciones" [value]="op.nombre" (click)="Buscar()">
                    {{op.nombre}}
                  </mat-option>
                </mat-select>
                <mat-select *ngIf="seleccionada == 'Tipo'"  placeholder="Tipo" [(ngModel)]="seleccion" name="operacion">
                  <mat-option  *ngFor="let op of opcionesBusqueda[1].opciones" [value]="op.nombre" (click)="Buscar()">
                    {{op.nombre}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select  placeholder="Descripción" [(ngModel)]="art" name="operacion">
                <mat-option  *ngFor="let op of opcionesDescripciones[0].opciones" [value]="op">
                  {{op.descripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="!buscador">
            <mat-radio-group name="opciones" [(ngModel)]="radioSelect">
              <mat-radio-button *ngFor="let op of radioButons" name="opciones" [value]="op" style="margin: 10px">
                <span *ngIf="op">nombre</span>
                <span *ngIf="!op">codigo</span>
              </mat-radio-button>
            </mat-radio-group>
            <mat-form-field *ngIf="radioSelect" class="text-center" >
                    <input matInput [(ngModel)]="art.descripcion" type="text" placeholder="Nombre del producto">
            </mat-form-field>
            <mat-form-field *ngIf="!radioSelect" class="text-center" >
                    <input matInput [(ngModel)]="art.codigo" type="number" placeholder="código del producto" >
            </mat-form-field>
            <button class="buscar mat-primary" mat-raised-button (click)="cargarPorNombre()"><mat-icon>done_outline</mat-icon></button>
        </div>
          <hr>
        <div *ngIf="art.codigo != null">

          <mat-form-field class="text-center" >
            <input matInput [(ngModel)]="art.codigo" type="number" placeholder="Codigo">
          </mat-form-field>
          <mat-form-field class="text-center" >
              <input matInput [(ngModel)]="art.descripcion" type="text" placeholder="Descripción">
          </mat-form-field>
          <mat-form-field *ngIf="art.cantidad >9" class="text-center" >
              <input matInput type="number" [(ngModel)]="art.mayoreo" placeholder="Precio">
          </mat-form-field>
          <mat-form-field *ngIf="art.cantidad<10" class="text-center" >
              <input matInput type="number" [(ngModel)]="art.menudeo" placeholder="Precio">
          </mat-form-field>
          <mat-form-field class="text-center" >
                  <input matInput type="text" type="text" [(ngModel)]="art.tipo" placeholder="Tipo">
          </mat-form-field>
          <mat-form-field class="text-center" >
              <input matInput type="number" [(ngModel)]="art.cantidad" placeholder="cantidad">
          </mat-form-field>
          <mat-form-field class="text-center" >
              <input matInput [(ngModel)]="art.departamento" placeholder="Departamento">
          </mat-form-field>
          <br>
          <button class="buscar mat-primary" mat-raised-button (click)="Agregar()">Aceptar</button>
        </div>
  </mat-card>

<div class="col-lg-7 col-sm-12">
    <table class="table table-sm"  *ngIf="hayRegistros(); else sinarticulos">
      <thead class="table-primary">
      <tr >
        <th class="d-none d-md-table-cell">Codigo</th>
        <th>Desc</th>
        <th class="d-none d-md-table-cell">Tipo</th>
        <th class="d-none d-md-table-cell">Departamento</th>
        <th >Presio</th>
        <th >Cantidad</th>
        <th>Importe</th>
        <th>Del</th>
        <th>Select</th>
      </tr>
      </thead>
      <tr *ngFor="let art of articulos">
        <td class="d-none d-md-table-cell">{{art.codigo}}</td>
        <td>{{art.descripcion}}</td>
        <td class="d-none d-md-table-cell">{{art.tipo}}</td>
        <td class="d-none d-md-table-cell">{{art.departamento}}</td>
        <td>${{art.presio}}</td>
        <td>{{art.cantidad}}</td>
        <td class=" text-center">${{art.presio*art.cantidad}}</td>
        <td><button mat-raised-button (click)="borrarDeLista(art)"><mat-icon>remove_circle_outline</mat-icon></button></td>
        <td><button mat-raised-button (click)="seleccionar()"><mat-icon>check_box</mat-icon></button></td>        
      </tr>
      <tr>
        <td colspan="6" class="table-primary"> IMPORTE:</td>
        <td class="table-secondary text-center">${{importe}}</td>
      </tr>
      <tr>
        <td colspan="6" class="table-primary">IVA:</td>
        <td class="table-secondary text-center">$ {{iva}}</td>
      </tr>
      <tr>
        <td colspan="6" class="table-primary">TOTAL:</td>
        <td class="table-secondary text-center">$ {{total}}</td>
      </tr>
    </table>
    <button class="buscar mat-primary" mat-raised-button (click)="Vender()"><mat-icon>shopping_basket</mat-icon> Vender</button>
  <ng-template #sinarticulos><p>No hay articulos.</p></ng-template>
</div>
</div>
