<span>¿Desea imprimir el corte? </span>
<button mat-flat-button id="no-button" [mat-dialog-close]="false">NO</button>
<button mat-flat-button id="yes-button" (click)="downloadPDF()">SI</button>
<div class="contenedor content container " #content>
    <div class="content-container">
        <span class="content-span full-width" >
            <h3 class="text-center"><img src="/assets/images/papas.png" alt="Lunita"  height="60" width="160" style="margin: 30px"></h3>
            <h5 class="text-center">Corte de caja</h5>
            <h6>Fecha: {{date | date:'yyyy-MM-dd'}}</h6>
            <h6>Hora inicio: {{data.inicio | date:'HH:mm:ss'}}</h6>
            <h6>Hora fin: {{data.fin | date:'HH:mm:ss'}}</h6>
            <h6>Usuario: {{data.usuario}}</h6>
            <hr>
            <hr>
            <table class="table table-borderless" id=”my-table” >
               <thead>
                <th></th>
                <th></th>
                <th></th>
               </thead>
               <tbody>
                <tr>
                    <td colspan="2">Ventas realizadas:</td>
                    <td>{{data.ventasTotales[0].ventas}}</td>
                </tr>
                <tr>
                    <td colspan="2">Compras realizadas:</td>
                    <td>{{data.compras[0].cantidad}}</td>
                </tr>
                <tr>
                    <td colspan="2">Productos vendidos:</td>
                    <td>{{data.ventas[0].productosVendidos}}</td>
                </tr>
                <tr>
                    <td colspan="2">Productos comprados:</td>
                    <td>{{data.compras[0].cantidad}}</td>
                </tr>
               </tbody>
            </table>
            <hr>
            <hr>
            <table class="table table-borderless" id=”my-table” >
               <thead>
                <th></th>
                <th></th>
                <th></th>
               </thead>
               <tbody>
                <tr>
                    <td colspan="2">Dinero ingresado:</td>
                    <td>${{data.ventas[0].productosVendidos * data.ventas[0].precio}}</td>
                </tr>
                <tr>
                    <td colspan="2">Salidas de caja:</td>
                    <td>${{data.compras[0].gasto}}</td>
                </tr>
                <tr>
                    <td colspan="2">Ganancias por ventas:</td>
                    <td>${{data.ventas[0].productosVendidos * data.ventas[0].ganancias}}</td>
                </tr>
                <tr>
                    <td colspan="2">Dinero en caja:</td>
                    <td>${{(data.ventas[0].productosVendidos * data.ventas[0].precio)-data.compras[0].gasto}}</td>
                </tr>
               </tbody>
            </table>
        </span>
    </div>
</div>
<div class="d-none" id="download">
    <img #canvas>
    <a #downloadLink></a>
</div>
