<span>¿Desea imprimir el corte? </span>
<button mat-flat-button id="no-button" [mat-dialog-close]="false">NO</button>
<button mat-flat-button id="yes-button" (click)="downloadPDF()">SI</button>
<div class="contenedor content container " #content>
    <div class="content-container">
        <span class="content-span full-width" >
            <h3 class="text-center"><img src="/assets/images/papas.png" alt="Lunita"  height="60" width="160" style="margin: 30px"></h3>
            <h5 class="text-center">Corte de caja</h5>
            <h6>Fecha: {{date | date:'yyyy-MM-dd'}}</h6>
            <h6>Hora inicio: {{data.inicio | date:'HH:mm:ss'}}</h6>
            <h6>Hora fin: {{data.fin | date:'HH:mm:ss'}}</h6>
            <h6>Usuario: {{data.usuario}}</h6>
            <hr>
            <hr>
            <table class="table table-borderless" id=”my-table” >
               <thead>

               </thead>
               <tbody>

               </tbody>
            </table>
        </span>
    </div>
</div>
<div class="d-none" id="download">
    <img #canvas>
    <a #downloadLink></a>
</div>
