<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()" *ngIf="isHandset$ | async">menu</mat-icon>
    </button>
    <h1><img src="/assets/images/papas.png" alt="Lunita"  height="60" width="160" style="margin: 30px"></h1>
    <span class="menu-spacer"></span>
    <div *ngIf="isntHandset$ | async">
      <a mat-button [routerLink]="'/inventario'"> Inventario </a>
      <a mat-button [routerLink]="'/ventas'"> Ventas </a>
      <a mat-button [routerLink]="'/reportes'"> Reportes </a>
      <!--<a mat-button [routerLink]="'/repartidores'"> Repartidores </a>
      <a mat-button [routerLink]="'/activities'"> Notificaciónes </a>-->
      <a mat-button [routerLink]="'/mapas'"> Rutas </a>
      <a mat-buttom (click)="Close(); sidenav.toggle()" href=""><small style="color:white">Cerrar sesión</small></a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/inventario'"> Inventario </a>
      <a mat-list-item [routerLink]="'/ventas'"> Ventas </a>
      <a mat-list-item [routerLink]="'/reportes'"> Reportes </a>
      <!--<a mat-list-item [routerLink]="'/repartidores'"> Repartidores </a>
      <a mat-list-item [routerLink]="'/activities'"> Notificaciónes </a>-->
      <a mat-list-item [routerLink]="'/mapas'"> Rutas </a>
      <a mat-list-item (click)="Close(); sidenav.toggle()" href="" mat-list-item>Cerrar sesion</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet>
        
      </router-outlet>
      <footer>
        <app-footer></app-footer>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
